.sideBarContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 4rem;
    height: 100%;
    background-color: var(--primary-darker);

    .sideBarImagesContainer {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 4rem;
        height: 4rem;

        &:not(:first-child) {
            border-top: var(--primary-light) 2px solid;
        }

        &:hover {
            background-color: var(--primary-light);
            cursor: pointer;
        }
    }
}

.selected {
    background-color: var(--primary);
}
