.monsterCard {
    width: 14rem;
    height: 16rem;
    background-color: var(--primary-dark);
    border: solid 2px var(--primary-light);
    user-select: none;

    .monsterCardTitleContainer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0.5rem 0.3rem;
        gap: 0.5rem;
        height: 3rem;

        border-bottom: var(--primary-light) solid 2px;

        .monsterTypeIcon {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 1.5rem;
            aspect-ratio: 1;
            border-radius: 50%;
            padding: 0.2rem;
        }

        .monstre {
            background: radial-gradient(circle closest-side, dodgerblue 85%, var(--primary) 95%);
        }
        .archimonstre {
            background: radial-gradient(circle closest-side, orange 85%, var(--primary) 95%);
        }
        .boss {
            background: radial-gradient(circle closest-side, indianred 95%, var(--primary) 95%);
        }

        .monsterName {
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    .monsterImageContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 8rem;
        width: 14rem;
        padding: 1rem;

        .monsterImage {
            height: 6rem;
            object-fit: contain;
        }
    }

    .monsterStatusContainer {
        display: flex;
        justify-content: center;
        width: 100%;
        padding: 1rem;
    }

    .monsterCardAmountSelectorContainer {
        display: flex;
        justify-content: space-around;
        align-items: center;

        .amountButtons {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 1.8rem;
            aspect-ratio: 1;
        }

        .monsterAmountInput {
            width: 3rem;
        }
    }
}
