.subAreaDetailsContainer {
    display: flex;
    flex-direction: column;

    position: absolute;
    right: 1rem;
    top: 1rem;

    width: 16rem;
    height: fit-content;

    background-color: var(--primary-darker);
    border: 2px solid var(--primary-lighter);
}
