.subAreaDetailsContainer {
    display: flex;
    flex-direction: column;

    width: 16rem;
    height: 100%;

    background-color: var(--primary-darker);
    border: 2px solid var(--primary-lighter);
}
