.statsCardElement {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .statsCardElementLabelContainer {
        display: flex;
        align-items: center;
        gap: 0.5rem;
    }
}
