.subAreaDetailsTextContainer {
    display: flex;
    flex-direction: column;

    width: 100%;
    height: 8rem;
    padding: 1rem;

    &:not(:last-child) {
        border-bottom: 2px solid var(--primary-lighter);
    }

    .subAreaDetailsText {
        display: flex;
        flex-direction: column;

        height: 100%;
        justify-content: space-between;
    }
}

.noMonsterText {
    color: var(--secondary-dark);
    font-weight: bold;
}

.lastExplorationText {
    color: var(--tertiary);
}
