.statsPageMainContainer {
    display: flex;

    width: 100%;
    height: 100%;
    gap: 0.5rem;
    padding: 1rem;

    background-color: var(--primary-dark);

    .statsPageContentContainer {
        display: flex;
        flex-direction: column;

        width: 100%;
        height: 100%;

        background-color: var(--primary-darker);
        border: 2px solid var(--primary-light);

        user-select: none;
    }
}
