.statsCard {
    display: flex;
    flex-direction: column;

    height: 11rem;
    width: 16rem;

    background-color: var(--primary-dark);
    border: 2px var(--primary-light) solid;

    .statsCardContent {
        display: flex;
        flex-direction: column;

        padding: 0.5rem;
        gap: 0.5rem;
    }
}
