.monsterContainerTitleBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid var(--primary-light);
    width: 100%;
    height: 3rem;
    flex-shrink: 0;
    padding: 0 1rem;
    user-select: none;
}

.monstersContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: var(--primary-darker);
    border: 2px solid var(--primary-light);

    .monstersContainerMainContent {
        display: flex;
        justify-content: center;
        padding: 1rem;
        color: red;

        user-select: none;
    }
}

.monsterCardGridContainer {
    justify-content: center;
    flex-wrap: wrap;
    display: flex;
    gap: 0.5rem;
    padding: 1rem;
}
