.mapGridContainer {
    background-color: var(--primary-darker);
    padding: 0.5rem;
    border: 2px solid var(--primary-lighter);
    overflow: hidden;
    .canvas {
        background-color: var(--primary-darker);
    }
}
